.btn-order {
  display: block;
  position: absolute;
  background: url("../img/button/order.svg") no-repeat white;
  width: 119px;
  height: 32px;
  cursor: pointer;
  transform: translateY(66px);
  border:none;
  border-radius: 30px;

  &:hover {
    box-shadow: 0 0 0.75rem crimson;
    transition-duration: 0.6s;
  }
}
